# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# MSBuild logs
*.tlog
*.log

# Debug/Release folders
[Dd]ebug*/
[Rr]elease*/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# VS Code
.vscode/
*.code-workspace

# Rider
*.sln.iml

# .NET artifacts
artifacts/
*.pdb

# Others
*.tmp
*.tmp_proj
*.cache
*.dbmdl
*.pidb
*.ipch
*.VC.db
*.aps
*.sdf
